body {
    background-color:#D0E9ED;
}

h1 {
    text-align: left;
}

#logo{
    width: 20%;
}

header{
  background-color: #017D86;
}

nav{
  position: absolute;
  top:110px;
  right: 10%;
}

nav li{
  font-size: 30px;
  display: flex;
  margin-right: 5%;
}

nav ul{
  display: flex;
}

nav a{
  text-decoration: none;
  color: white;
  position: relative;
  cursor: pointer;
}


